.card {
    width: 400px;
    height: 400px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    padding: 30px;
    color: white;
}
.imgContainer{
    padding: 16px;
    background-color: #262E38;
    border-radius: 50%;
}